<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <style>
        body {
            background-color: white;
        }
        .btn-primary {
            background-color: blue;
            border-color: blue;
        }
    </style>
</head>

<body>
    {% block content %}
    <div class="mt-5">
        <div class="container">
            <form action="/dashboard/borrow/edit/{{transactions.id}}" method="POST">
                {% csrf_token %}
                <div class="my-3 ">
                    <label for="exampleFormControlInput1" class="form-label">Book</label>
                    <select class="form-control" name="book_id">
                        {% for book in books %}
                        <option value="{{book.id}}" {% if transactions.book_id == book %}selected{% endif %}>{{book.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="my-3 ">
                    <label for="exampleFormControlInput1" class="form-label">Borrower</label>
                    <select class="form-control" name="borrower_id">
                        {% for borrower in borrowers %}
                        <option value="{{borrower.id}}" {% if transactions.borrower_id == borrower %}selected{% endif %}>{{borrower.name}} {{borrower.borrower_id}}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="my-3 ">
                    <label for="exampleFormControlInput1" class="form-label">Borrowed At</label>
                    <input type="date" class="form-control" name="returned_at" placeholder="YYYY-MM-DD">
                </div>
                <div class="my-3 ">
                    <label for="exampleFormControlInput1" class="form-label">Due Date</label>
                    <input type="date" class="form-control datepicker" name="due_date" placeholder="YYYY-MM-DD">
                </div>
                <div class="my-3 ">
                    <label for="exampleFormControlInput1" class="form-label">Returned At</label>
                    <input type="date" class="form-control" name="returned_at" placeholder="name">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
    {% endblock %}
    </body>